<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.addincendekia.android_basic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Androidbasic">
        <activity android:name=".bottomnavigation_w_fab.BottomNavigationWFabActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".bottomnavigation_w_fab.MainActivity" />
        <activity android:name=".botomnavigation.BottomNavigationActivity" />
        <activity android:name=".livedata.LiveDataActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".viewmodel.ViewModelActivity" />
        <activity android:name=".viewbinding.ViewBindingActivity" />
        <activity android:name=".fragment.fragments.DynamicFragmentActivity" />
        <activity android:name=".fragment.StaticFragmentActivity" />
    </application>

</manifest>